{% extends "base.html" %} 
{% load static %}

{% block title %} 
WanderingWV
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/bridge_burst.jpeg" %}" alt="Some pretty picture from WV" />
    <h2>Wandering<br>West Virginia</h2>
  </header>
  <p>Choose your own adventure in Wild, Wonderful West Virginia</p>
</section>

<section id="latest-posts">
  <h2>Latest Updates</h2>

  <ul>
    {% include "blog/includes/post.html" %}
  </ul>
</section>

<section id="about">
  <h2>#goals</h2>
  <p>
    West Virginia has so much to offer. Our goal is to introduce you to the natural beauty, rich history, and innovative people that make WV what it is.
  </p>
  <p>
    Eventually, we'll have more wanderers out there writing about their adventures.
  </p>
</section>
{% endblock %}