{% extends 'base.html' %}
{% load static %}

{% block title %} 
{{ post.title }}
{% endblock %} 

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"
{% endblock %}

{% block content %}

{% if comment_form.errors %}
    <div id='alert'>
        <h2>Something went wrong!</h2>
        <p>Please check the <a href='#comment-form'>comment form</a> and fix any errors.</p>
    </div>
{% endif %}

<section id='summary'>
    <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tags %}
                <span class='tag'>{{ tag.caption }} County</span>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
            {% if fav %}    
                <div id='favorites'>
                    <a href="{% url "favorite_add" post.slug %}">Remove From Favorites</a>
                </div>
            {% else %}
                <div id='favorites'>
                    <a href="{% url "favorite_add" post.slug %}">Add to Favorites</a>
                </div>
            {% endif %}
        {% else %}
            <div id='favorites'>
                <a href="{% url "signup" %}">Add to Favorites</a>
            </div>
        {% endif %}
        <article>
            <img src="{{ post.image.url }}" alt text='{{ post.image }}' />
            <address>By {{ post.author }}</address>
            <div>
                Last updated on <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ post.content|linebreaks }}
    </main>

    <section id='comments'>
        <ul>
            {% for comment in comments %}
            <li>
                <h2>{{ comment.user_name }}:</h2>
                <p>{{ comment.text|linebreaks }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section id="comment-form">
  <h2>Join the Conversation!</h2>
  <form action="{% url "detail-page" post.slug %}" method="POST">
    {% csrf_token %}
    {% for form_field in comment_form %}
      <div class="form-control {% if form_field.errors %}invalid{% endif %}">
        {{ form_field.label_tag }}
        {{ form_field }}
        {{ form_field.errors }}
      </div>
    {% endfor %}
    <button>Save Comment</button>
  </form>
</section>
{% endblock %}