{% extends "base.html" %}
{% load static %}

{% block title %} 
Bookmarks
{% endblock %} 

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/profile.css" %}" />

{% endblock %}

{% block content %}
<section id="all-posts">
    <h2>{{ user.username|title }}'s Bookmarks</h2>
    <div>
    <ul>
    {% for post in favorites %}
        {% include "blog/includes/post.html" %}
    {% endfor %}
    </ul>
    </div>
</section>

{% endblock %}

