{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static "app.css" %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block css_files %}{% endblock %}
</head>
<body>
<header id="main-navigation">
    <nav>
    
    {% if user.is_authenticated %}
        <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
        
        
    {% else %}
        <span><a href="{% url 'login' %}">Login</a></span>
        <span id="divider"> | </span>
        <span><a href="{% url 'signup' %}">SignUp</a></span>
    {% endif %}
    
    <span id="divider"> | </span>
    <a href="{% url "starting-page" %}">Home</a>
    <span id="divider"> | </span
    ><a href="{% url "posts-page" %}">All Posts</a>
    <span id="divider"> | </span
    <span><a href="{% url 'logout' %}">Logout</a></span>
    
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    All Rights Reserved, WanderingWV 2021
</footer>

</body>
</html>