{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static "app.css" %}">
{% block css_files %}{% endblock %}
</head>
<body>
<header id="main-navigation">
    <h1></h1>
    <nav>
    
    {% if user.is_authenticated %}
        <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
        
        
    {% else %}
        <span><a href="{% url 'login' %}">Login</a></span>
        <span id="divider"> | </span>
        <span><a href="{% url 'signup' %}">SignUp</a></span>
    {% endif %}
    <span id="divider"> | </span>
    <a href="{% url "starting-page" %}">Home</a>
    <span id="divider"> | </span
    ><a href="{% url "posts-page" %}">All Posts</a>
    <span id="divider"> | </span
    <span><a href="{% url 'logout' %}">Logout</a></span>
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    All Rights Reserved, WanderingWV 2021
</footer>

</body>
</html>